<%= render "layouts/errors", :object => @review %>

<%= form_for [@product, @review] do |f| %>
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <%= f.label :author, { class: "form-label"} %>
        <%= f.text_field :author, { class: "form-control"} %>
      </div>
      <div class="mb-3">
        <%= f.label :content_body, { class: "form-label"} %>
        <%= f.text_area :content_body, { class: "form-control"} %>
      </div>
      <div class="mb-3">
        <%= f.label :rating, { class: "form-label"} %>
        <%= f.text_field :rating, { class: "form-control"} %>
      </div>
      <br>
      <p><%= f.submit "Submit", class: "btn btn-primary" %></p>
    </div>
  </div>
<% end %>